.country {
    padding: 5px;
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    align-items: left;
    justify-content: space-between;
    border-left: 1px solid #b2b2b2;
}

/* .country_bottom {
    background-color: #fff;
} */

.total {
    text-align: left;
}

button {
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
img {
    width: 20px;
}

